/*adaptacion para celular*/

@media screen and ( max-width:580px){
*{
    margin: 0px;
    padding: 0;
    }
html{
    width: 100%;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #FAF8F0;
}
.pc{
    display: none;
}


div.div1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FAF8F0;
}
.div1part1{
    margin-top: 5px;
    width: 100%;
    background-color: #7a6451;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2{
    width: 100%;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#FAF8F0;
}

.div3{
    width: 100%;

    margin-top: 30px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color:  #FAF8F0;
}

.div4{

    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #FAF8F0;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.div5{
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.div6{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF8F0;;
}

.div6-h2{
    width: 90%;

    padding-top: 35px;
    padding-bottom: 15px;

    text-align: center;
    font-family: "Playfair Display", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #54595f;
}

div.div1-1 {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div1-tit{
    font-family: "Playfair Display", Sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #800021;
}
.div1-h2{
    font-family: "Playfair Display", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #800021;
}

div.div2-1 {
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.valor1{
    animation: pulse 1.5s infinite;
}
.valor2, .valor1{
        text-align: center;
        font-family: "Playfair Display", Sans-serif;
        font-size: 24px;
        font-weight: 800;
        color: #800021;
}
.valor2{
    margin-bottom: 20px;
}
.div2-precio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div2-ul{
    width: 80%;

    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.div3-1{
    width: 80%;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
    border-radius: 15px;
    background-color: #FAF8F0;
    box-shadow:  0px 1px 10px 0px RGBA(0, 0, 0, 0.70);
}
.div3-libro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.div3-li{
    
    text-align: center;
    font-family: "Lato", serif;
    font-size: 15px;
    font-weight:400;
    padding-top: 15px;
    
}
.div3-h2{
    text-align: center;
    font-family: "Playfair Display", Sans-serif;
    font-size: 24px;
    
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 15px;

    color: #800021;
    font-weight: 800;
}


.div3-ul{
        width: 90%;

        display: flex;
        align-items: center;
        flex-direction: column;
}

.div4-1{
    width:90%;
    background-color: #FAF8F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 15px;

    
    border-radius: 15px;
    background-color: #FAF8F0;
    box-shadow:  0px 1px 10px 0px RGBA(0, 0, 0, 0.70);
}

.div4-h2{
    width: 85%;

    padding-top: 15px;

    text-align: center;
    font-family: "Playfair Display", Sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #800021;
}


.div4-ul{
    width: 80%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div4-li{
     
    text-align: center;
    font-family: "Lato", serif;
    font-size: 15px;
    font-weight:400;
    padding-top: 15px;
    
}


.div5-1{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 15px;

    border-radius: 15px;
    background-color: #FAF8F0;
    box-shadow:  0px 1px 10px 0px RGBA(0, 0, 0, 0.70);


}
.div5-h2{

    text-align: center;
    font-family: "Playfair Display", Sans-serif;
    font-size: 24px;

    margin-top: 15px;

    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;

    border-radius: 15px;

    color: #800021;
    font-weight: 800;
}

.div5-ul{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-self: center;

    justify-content: center;
    margin-bottom: 15px;
}
.div5-li{
    text-align: center;
    font-family: "Lato", serif;
    font-size: 15px;
    font-weight:400;
    padding-top:15px;

}

header{
    background-color: #7a6451;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header{
    font-family: "Libre Baskerville", Sans-serif;
    font-size: 10px;
    font-weight: 600;
    color:#ffffff ;
    padding-top: 5px;
    padding-bottom: 5px;
}
li{
    width: 90%;
    padding-bottom: 5px;
    text-align: center;
}
.item{
    text-align: center;    
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

h1{
    text-align: center;
    font-family: "Playfair Display", Sans-serif;
    font-size:25px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #54595f;

    
    animation: pulse 1.5s ;
    
}




iframe{
    margin-bottom: 20px;
    margin-top: 20px;
}

.mockup{
    width: 90%;
}
h4.h4part1{
    padding-top: 15px;
    padding-bottom: 15px;
    color: aliceblue;
    width: 90%;

    text-align: center;
    font-family: "Playfair Display", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

flexbox{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.libro{
    width: 90%;
}

.img1{
    padding-top: 15px;
    padding-bottom: 15px;
}

.img3{
    padding-top: 15px;
    padding-bottom: 15px;
}

.img4{
    padding-bottom: 15px;
}
button{
    background-color: #A32318;
    border-radius:5px;
    padding: 5px 5px 5px 5px;
    padding-top: 3px;
    margin-top: 50px;
    margin-bottom: 20px;
    
    animation: pulse 1.5s infinite;
}
a{
    font-family: "Playfair Display", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #FAF8F0;
    text-decoration: inherit;
}


@keyframes show {
	from {
		opacity: 0;
		scale: 50%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

.div4-h2, .div3-h2,.div5-h2
{
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}
}


/*----------------------------para pc escritorio-------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/



@media screen and ( min-width:580px){
    *{
        margin: 0px;
        padding: 0;
        }
    html{
        width: 100%;
    }
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        background-color: #FAF8F0;
    }
    .celular{
        display: none;
    }
    .pc{
        display: flex;
        flex-direction: row;
        align-items: stretch;

        padding-top: 55px;
        padding-bottom: 55px;
    }

    .div3-pc{
        width: 30vw;

        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        
    
    }
    .div3-1pc{

        display: flex;
        flex-direction: row;
    }
    div.div1{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #FAF8F0;
        }
    .div1part1{
        margin-top: 5px;
        width: 100%;
        background-color: #7a6451;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .div2{
        width: 100%;
        display: flex;

        padding-top: 55px;


        justify-content: center;
        flex-direction: row;
        align-items: center;

        background-color:#FAF8F0;
    }
    
    .div3{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color: #FAF8F0;
    }


    .div4{
        width: 30vw;
    
        background-color:#faf8f0;

        display: flex;

            
        margin-left: 15px;
        margin-right: 15px;

        border-radius: 15px 15px 15px 15px;
        background-color: #FAF8F0;
        box-shadow:  0px 1px 10px 0px RGBA(0, 0, 0, 0.70);
    }
    
    .div5{
        width: 30vw;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        padding-top: 22px;

        margin-left: 15px;
        margin-right: 15px;

        border-radius: 15px;
        background-color: #FAF8F0;
        box-shadow:  0px 1px 10px 0px RGBA(0, 0, 0, 0.70);
    }
    .div5-1{
        width: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-bottom: 15px;
    }    
    
    .div5-h2{

        padding-bottom: 15px;
        
        text-align: center;
        font-family: "Playfair Display", Sans-serif;
        font-size: 20px;
        font-weight: 800;
        color: #800021;
    }

    .div5-ul{
      
        margin-bottom: 15px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div5-li{
        font-family: "Lato", serif;
        font-size:12px;
        font-weight:500;
    }
    
    .div6{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAF8F0;
    }
    /*************************************************/

    div.div1-1 {
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .div3-h2pc
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: "Playfair Display", Sans-serif;
        font-size: 20px;

        padding-left: 15px;
        padding-right: 15px;

        border-radius: 15px;

        color: #800021;
        font-weight: 800;
    }
    .div4-h2{
        width: 85%;
        text-align: center;
        font-family: "Playfair Display", Sans-serif;
        font-size: 20px;
        font-weight: 800;
        color: #800021;
    }
    
    

    /******************************************************/

    
li{
    padding-bottom: 5px;
}
.item{
    text-align: center;
    font-family: "Lato", Sans-serif;
    font-size: 15px;
    font-weight: 600;
}

h1{
    text-align: center;
    font-family: "Playfair Display", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #54595f;
    
    animation: pulse 1.5s ;

    padding-bottom: 10px;
}

header{
    background-color: #7a6451;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header{
    font-family: "Libre Baskerville", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    color:#ffffff ;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div1-tit{
    font-family: "Playfair Display", Sans-serif;
    font-size: 15px;
    padding-top: 15px;
    font-weight: 600;
    color: #800021;
}

.div1-h2{
    font-family: "Playfair Display", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #800021;
}
.div2-ul{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.div3-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
    
    border-radius: 15px;    
    background-color: #FAF8F0;
    box-shadow:  0px 1px 10px 0px RGBA(0, 0, 0, 0.70);
}
.div3-ul{
    width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
}

.div3-libropc{
    width: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding-bottom: 20px;
    padding-top: 10px;

    border-radius: 15px;
    background-color: #FAF8F0;
    box-shadow:  0px 1px 10px 0px RGBA(0, 0, 0, 0.70);
}

.div3-li{
    width: 80%;

    font-family: "Lato", serif;
    font-size: 12px;
    font-weight:400;
    
}

.div4-1{
    background-color: #FAF8F0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    border-radius: 15px;
}
.div4-ul{
    width: 90%;

    padding-top: 15px;

    display: flex;
    flex-direction: column;
}
.div4-li{
    font-family: "Lato", serif;
    font-size: 12px;
    font-weight:400;
    
    
}

iframe{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50%;
}

.mockup{
    width: 35%;
    padding-top: 15px;
    padding-bottom: 35px;
}
h4.h4part1{

    padding-top: 15px;
    padding-bottom: 15px;
    color: aliceblue;
    width: 65%;

    text-align: center;
    font-family: "Playfair Display", Sans-serif;
    font-size: 25px;
    font-weight: 600;
}

flexbox{
    width: 90%;
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: stretch;
}

.libro{
    width: 60%;
}
.div6-h2{
    font-family: "Playfair Display", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #54595f;
    text-align: center;
}

.div2-precio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1{
    width: 30vw;
    padding: 15px 15px 15px 15px;
}
.img2{
    width: 30vw;
    padding: 15px 15px 15px 15px;
}

.img3{
    width: 30vw;
    padding: 15px 15px 15px 15px;
}

.img4{
    width: 30vw;
    padding: 15px 15px 15px 15px;
}



.valor2, .valor1{
    text-align: center;
    font-family: "Playfair Display", Sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #800021;
    
}
.valor2{
margin-bottom: 20px;
font-size: 25px;
}

button{
    background-color: #A32318;
    border-radius:5px;
    padding: 5px 5px 5px 5px;
    padding-top: 3px;

    margin-bottom: 35px;

    animation: pulse 1.5s infinite;

}

a{
    font-family: "Playfair Display", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #FAF8F0;
    text-decoration: inherit;
}


@keyframes show {
	from {
		opacity: 0;
		scale: 90%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}
.valor1{
    
    animation: pulse 1.5s infinite;
}
.div4, .div3-pc,.div5, .div2-ul
{
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}


@keyframes bucle{
	from {
		opacity: 0;
		scale: 90%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

.div4, .div3-pc,.div5{
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}




}